<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<base href="./">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./lib/js/angular.min.js"></script>
    <script src="./lib/js/angular-animate.min.js"></script>
    <script src="./lib/js/angular-messages.min.js"></script>
    <script src="./lib/js/echarts.js"></script>
    <script src="./lib/js/toaster.min.js"></script>
    <script src="./lib/js/angular-ui-router.min.js"></script>
    <link href="./lib/css/toaster.css" rel="stylesheet">
    <script src="./js/app.js"></script>
    <script src="./js/router.js"></script>
    <script src="./js/controller.js"></script>
    <script src="./js/filter.js"></script>
    <script src="./js/service.js"></script>
    <script src="./js/directive.js"></script>
</head>

<body>
    <div ng-controller="commonCtrl">
        {{ myDate | date : 'medium' }}
        <div e-charts options='option2' mystyle="{'width':'80%','height':'400px'}"></div>
        <!--<div class="btnWrap">
            <div class="btn" ng-click="trans(100)">按钮1</div>
            <div class="btn" ng-click="trans(30)">按钮2</div>
            <div class="btn" ng-click="trans(60)">按钮3</div>
            <div class="btn" ng-click="trans(10)">按钮4</div>
        </div>-->
        <!--当前时间是-->
    </div>
    <!-- <div ng-controller="commonCtrl2">
        <div e-charts options='option2' mystyle="{'width':'80%','height':'400px'}"></div>
        <div class="btnWrap">
            <div class="btn" ng-click="trans(100)">按钮1</div>
            <div class="btn" ng-click="trans(30)">按钮2</div>
            <div class="btn" ng-click="trans(60)">按钮3</div>
            <div class="btn" ng-click="trans(10)">按钮4</div>
        </div>
    </div>
    <div ng-controller="loginCtrl">
        <div>
            <form method="post" name="loginForm" novalidate ng-submit="loginSubmit()">
                <input type="text" name="username" ng-model="username" placeholder="姓名" ng-minlength="2" required ng-maxlength="20">
                <input type="password" name="password" ng-model="password" placeholder="密码" ng-minlength="6" ng-maxlength="16" required>
                <input type="text" name="job" ng-model="job" placeholder="职位">
                <input type="email" name="email" ng-model="emali" placeholder="邮箱" required>
                <input type="text" name="numId" ng-model="numId" placeholder="工号" ng-pattern="/\d{6,8}/" required>
                <input type="submit" value="提交">
            </form>
        </div>
        <div class="debugCont">姓名：{{username}},密码：{{password}}，职位：{{job}}，工号：{{numId}}</div>
        <div class="errorCont">
            <div ng-messages="loginForm.username.$error">
                <div ng-message="required" ng-if="submitted">用户名必须填写</div>
                <div ng-message="minlength">名字必须大于2个字符</div>
                <div ng-message="maxlength">名字最长不能超过20个字符</div>
            </div>
            <div ng-messages="loginForm.email.$error" ng-if="submitted">
                <div ng-message="required">邮箱必须填写</div>
                <div ng-message="email">请正确填写邮箱格式</div>
            </div>
            <div ng-messages="loginForm.numId.$error">
                <div ng-message="required" ng-if="submitted">工号必须填写</div>
                <div ng-message="pattern">工号必须是6-8位数字</div>
            </div>
        </div>
    </div>
    <div ng-controller="testRanCtrl">
        1-9随机数 {{random}}
    </div>
    <div ng-controller="myController">
        <button ng-click="pop()">Show a Toaster</button>
    </div>
    <toaster-container></toaster-container>
    <div ng-controller="dateCtrl">
        {{year}}-{{month}}-{{day}}-周{{date}}
        <br> {{hour}} : {{ min }} : {{sec}}
        <br>{{ myDate | date : 'medium' }}
        <br>{{num}}
        <br>{{1|fillZero}}
        <br>{{num}}
        <br>{{1|fillZero}}
        <br>{{2|fillZero}}
        <br>{{3|fillZero}}
        <br>{{4|fillZero}}
        <br>{{5|fillZero}}
        <br>{{6|fillZero}}
        <br>{{7|fillZero}}
        <br>{{8|fillZero}}
    </div>
    <div ng-controller="textCtrl">
        <input type="text">
        <div class="badge" ng-if="message.item>0">{{message.cont}}</div>
    </div>
    <div ng-controller="routerCtrl">
        <div ui-view></div>
    </div>-->
</body>

</html>